@{
    ViewBag.Title = "IRS Account Dashboard";
    Layout = null;
}

@Styles.Render("~/style/css")
@Scripts.Render("~/bundles/angular")

@Scripts.Render("~/bundles/app")

@{var relativePath = Url.Content("~");}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="home" class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Roboto" rel="stylesheet">
</head>
<body ng-controller="indexCtrl">
    <header>
        <div class="blue-bar">
            <div class="topbar container">
                <img class="usa-icon" alt="US flag signifying that this is a United States Federal Government website" src="~/scripts/app/assets/us_flag_small.png" />
                <span>An official website of the United States Government</span>
            </div>
        </div>
        <div class="container logo-area">
            <div class="col-md-4">
                <img class="main-logo" src="~/scripts/app/assets/irs-logo.jpg" title="IRS Logo" alt="IRS Logo">
            </div>
            <div class="col-md-8">
                <div class="input-group pull-right">
                    <input type="text" class="form-control btn-height" placeholder="Search IRS.gov">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-height" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="first-menu-item"><a href="#">Filing</a></li>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">Refunds</a></li>
                        <li class="active"><a href="#">Account<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Credits & Deductions</a></li>
                        <li><a href="#">News & Events</a></li>
                        <li><a href="#">Forms & Pubs</a></li>
                        <li><a href="#">Help & Resources</a></li>
                        <li><a href="#">For Tax Pros</a></li>

                    </ul>



                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </header>
    <main>
        <div class="container ">
            <div class="main-container">

                <div class="row">
                    <!-- START My Account -->
                    <div class="col-md-3">
                        <div class="my-account large-h1">
                            <h1>Your Account</h1>
                            <hr>
                            <span class="page-description">
                                Welcome to your account dashboard.
                                You can view your return status here,
                                check the status of your refund, make payments,
                                and view your transcript here.
                            </span>
                        </div>
                        <div class="login-info">
                            <span>Signed in as: </span><span class="users-name"> {{userAccount.firstName}} {{userAccount.lastName}}</span>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span> View Profile</span>
                                </div>
                                <div class="col-md-6">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Sign Out</span></a>
                                        }
                                    }
                                </div>

                                @*<div class="col-md-6">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span>Sign Out</span>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- END My Account -->
                    <div class="col-md-9">
                        <!-- Section 2 -->
                        <div class="row margin-bottom">
                            <div class="col-md-6">
                                <div class="balance-due">
                                    <h2>Balance Due:</h2>
                                    <hr>
                                    <span class="amount pull-right">{{userAccount.balanceDue | currency}}</span>
                                    <br />
                                    <br />
                                    <br />
                                    <a class="pull-right" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="make-payment">
                                            <div class="payment-icons">
                                                <i class="fa fa-usd" aria-hidden="true"></i>
                                            </div>
                                            <hr>
                                            Make Payment
                                            <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="see-payments">
                                            <div class="payment-icons">
                                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                            </div>
                                            <hr>
                                            See Payment
                                            <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Section 2 -->
                        <hr class="main-divider">
                        <!-- Section 1 -->
                        <div class="row margin-bottom">
                            <div class="col-md-6">
                                <!-- START Return Status -->
                                <div class="return-status padding-bottom">
                                    <h2>Return Status:</h2>
                                    <hr>
                                    <span class="your-status">
                                        {{userAccount.returnsStatus}}
                                    </span>
                                    <br />
                                    <a class="pull-right align-bottom" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="refund-status">
                                    <h2>Refund Status:</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 no-right-margin" ng-init="">
                                            
                                            <img src="@relativePath{{userAccount.refundStatusImage}}" align="center" alt="{{userAccount.refundStatusImageAlt}}" class="refund-approved">
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="refund-status-txt">{{userAccount.refundStatus}}</span>
                                            <p>
                                                Your {{userAccount.year}} Refund has been approved.
                                                We will send you your refund
                                                in a few day
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Section 1 -->
                        <hr class="main-divider">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="transcript-snapshot">
                                    <h2><span>{{userAccount.year}} </span>Transcript Snapshot:</h2>
                                    <hr>
                                    <table class="transcript-table">
                                        <tbody>
                                            <tr>
                                                <td class="transcript-datatype">Total Exceptions:</td>
                                                <td>{{userAccount.totalExceptions | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Filling Status:</td>
                                                <td>{{userAccount.filingStatus}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Adjusted Gross Income:</td>
                                                <td>{{userAccount.agi | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Deductions:</td>
                                                <td>{{userAccount.deductions | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Taxes Due:</td>
                                                <td>{{userAccount.taxesDue | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Payments Made:</td>
                                                <td>{{userAccount.paymentsMade | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Balance Due:</td>
                                                <td>{{userAccount.balanceDue | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="transcript-datatype">Refund Due:</td>
                                                <td>{{userAccount.refundDue | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <p>
                                        This is a snapshot of your {{userAccount.year}} Transcript. To view your full transcript,
                                        please click on the button under "Get Transcript".
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="get-transcript">
                                    <h2>Get Transcript:</h2>
                                    <hr>
                                    <p>
                                        Looking for your full tax transcripts from this year and previous years? Click the button below to retrieve them. You
                                        will be able to view, print, and download your transcripts from there.
                                    </p>
                                    <br />
                                    <div class="button-container-right">
                                        <button type="button" class="btn btn-primary">
                                            Get Transcript
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!--<div ng-view></div>-->
                <br />
                <br />
                <!--        <ul class="menu">
                          <li><a href="#!/view1">view1</a></li>
                          <li><a href="#!/view2">view2</a></li>
                        </ul>-->
            </div>
        </div>

    </main>
    <footer>
        <div class="container ">
            <div class="footer-container ">
                <div class="row">
                    <div class="col-md-15 col-sm-6">
                        <strong>Our Agency:</strong>
                        <ul class="links">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Work at IRS</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Help & Resources</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Contact Your Local Office</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Tax Stats, Facts & Figures</li>
                        </ul>
                    </div>
                    <div class="col-md-15 col-sm-6">
                        <strong>Know Your Rights:</strong>
                        <ul class="links">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Taxpayer Bill of Rights</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Taxpayer Advocate</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Accessibility</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Civil Rights</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Freedom of Information Act</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> No FEAR Act</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col-md-15 col-sm-6">
                        <strong>Resolve an Issue:</strong>
                        <ul class="links">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Respond to a Notice</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Office of Appeals</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Identity Theft</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Report Phishing</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Tax Fraud & Abuse</li>
                        </ul>
                    </div>
                    <div class="col-md-15 col-sm-6">
                        <strong>Other Languages:</strong>
                        <ul class="links">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Español</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> 中文</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> 한국어</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Pусский</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> TiếngViệt</li>
                        </ul>
                    </div>
                    <div class="col-md-15 col-sm-6">
                        <strong>Related Sites:</strong>
                        <ul class="links">
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> U.S. Treasury</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Treasury Inspector General for Tax Administration</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> USA.gov</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    @*<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>*@
    <!--<script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>-->
</body>
</html>




@*<div ng-app="home">

    <div ng-controller="indexCtrl">
        <hr />
        <strong>User Account Flat object: </strong> <br />
        <div>{{userAccount}}</div>
        <hr />
        <div ng-bind="userAccount.userName"></div>
      
    </div>
</div>*@